.tittleMain {
  font-family: "PT Serif", serif;
}
.descrip {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 40px;
}

.descrip img {
  height: 300px;
  width: 500px;
  object-fit: cover;
}
.text {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.text p {
  text-align: justify;
}

.icon i {
  margin-top: 10px;
  margin-bottom: 10px;
}
.icon i {
  margin-right: 10px;
}
.icon {
  display: flex;
}
.card {
    width: 450px;
    /* height: 390px; */
    /* border-radius: 0.5rem; */
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    /* border: 1px solid transparent; */
    margin: 30px;
  }
  
  .card a {
    text-decoration: none
  }
  
  .content {
    padding: 1.1rem;
  }
  
  .image img {
    object-fit: fill;
    width: 100%;
    height: 250px;
  }
  
  .title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }
  .Row{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  

@media screen and (max-width: 780px) {
  .descrip {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* margin: 40px; */
    place-self: center;
    text-align: center;
    place-items: center;
  }
  .text {
   margin: auto;
  }
}
