/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/*
/*  */
.header-back {
  height: 80px;
  background-color: #060047;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.main-header-wrapper {
  display: flex;
  justify-content: center;
}
.main-header {
  /* border-radius: 10px; */
  background-color:white;
  justify-content: space-between;
  width: 80vw;
  position: relative;
  top: 30px;
  z-index: 999;
}
.sub-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
  position: relative;
  z-index: 999;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 70px;
}

.nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 20px;
}
.logo img {
  margin: 5px;
}
.nav ul li {
 
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;

}
.name {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: green;
  text-transform: uppercase;
}



/* methanin pahala mage */
.arrival {
  background-color: #060047;
  height: 200px;
}

.form-controlll {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}

.form-controlll input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-controlll input:focus,
.form-controlll input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-controlll label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-controlll label span {
  display: inline-block;
  font-size: 15px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-controlll input:focus+label span,
.form-controlll input:valid+label span {
  color: lightblue;
  transform: translateY(-30px);
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 15px 20px;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
